<script>
$( document ).ready(function() {
		var tipoLancamento = '<%= Lancamento::TIPO_LANCAMENTO.invert[@lancamento.tipo] %>';
	
		$('#lancamento_data_vencimento').datepicker();
		$('#lancamento_data_pagamento').datepicker();
		
		//$('#lancamento_valor').mask('000.000.000.000.000,00', {reverse: true});
		
		<% if @lancamento.new_record? %>
			$('#lancamento_valor').val("");
		<% end %>
		
		<% if @lancamento.new_record? || @lancamento.tipo == Lancamento::TIPO_LANCAMENTO_RECEITA %>
			$('#lancamento_tipo_1').attr('checked', true);
			$('#label_receita').addClass('active focus')
			$('#tipoLancamento').html("<b> Tipo Lançamento: </b> <span style='color:green;font-weight:bold'>Receita</span>");	
		<% elsif @lancamento.tipo == Lancamento::TIPO_LANCAMENTO_DESPESA %>
			$('#lancamento_tipo_2').attr('checked', true);
			$('#label_despesa').addClass('active focus')
			$('#tipoLancamento').html("<b> Tipo Lançamento: </b> <span style='color:red;font-weight:bold'>Despesa</span>"); 
		<% end %>
		
		
		$('input:radio').change(function() {
			if(this.value == 1){
				$('#lancamento_tipo_1').attr('checked', true);
				$('#lancamento_tipo_2').attr('checked', false);
				$('#label_despesa').removeClass( "active focus")
				$('#label_receita').addClass('active focus')
				$('#tipoLancamento').html("<b> Tipo Lançamento: </b> <span style='color:green;font-weight:bold'>Receita</span>"); 
			}else if(this.value == 2){
				$('#lancamento_tipo_1').attr('checked', false);
				$('#lancamento_tipo_2').attr('checked', true);
				$('#label_despesa').addClass( "active focus")
				$('#label_receita').removeClass( "active focus")
				$('#tipoLancamento').html("<b> Tipo Lançamento: </b> <span style='color:red;font-weight:bold'>Despesa</span>"); 
			}
		});
		
		  $('#lancamento_attachment').on('change', function(event) {
			var files = event.target.files;
			var image = files[0]
			// here's the file size
			console.log(image.size);
			var reader = new FileReader();
			reader.onload = function(file) {
			  var img = new Image();
			  console.log(file);
			  img.src = file.target.result;
			  $('#target').html(img);
			}
			reader.readAsDataURL(image);
			console.log(files);
		  });

});
</script>

<div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Lançamentos</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
							<li>Gerencial</li>
                            <li>Cadastros</li>
                            <li>Lançamentos</li>
							<li class="active">Cadastrar</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">
            <!--div class="animated fadeIn"-->
                <div class="row">
				
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title"><%= @lancamento.new_record? ? 'Novo Lançamento' : 'Editar Lançamento' %></strong>
                            </div>
                            <div class="card-body">
                                <!-- Credit Card -->
                                <div id="pay-invoice">
                                    <div class="card-body">
										<%= form_with(model: lancamento, local: true) do |form| %>
										
										<div class="form-row">
											  <div class="form-group col-md-3">
											  <span id='tipoLancamento'></span>
											</div>	
										</div>									
										
										<div class="btn-group btn-group-toggle" data-toggle="buttons">
											<label class="btn btn-primary" id='label_receita'>
												<%= form.radio_button :tipo, 1 %> Receita
											</label>
											<label class="btn btn-primary" id='label_despesa'>
												<%= form.radio_button :tipo, 2 %> Despesa
											</label>
										</div>
										
										<br><br>
										<%= form.check_box :movimenta_caixa %> Movimenta Caixa?
										<br><br>
																					
											  <div class="form-row">
											  <div class="form-group col-md-3">
												  <label for="inputPassword4">Data Pagamento</label>
												  <%= form.text_field :data_pagamento, :autocomplete => :off, class: "form-control", :value=>"#{( @lancamento.data_pagamento.nil? ? "" : @lancamento.data_pagamento.strftime("%d/%m/%Y") ) unless @lancamento.new_record?}" %>
												</div>
												
											    <div class="form-group col-md-3">
												  <label for="inputEmail4">Data Vencimento</label>
												  <%= form.text_field :data_vencimento, :autocomplete => :off, class: "form-control", required: true, :value=>"#{@lancamento.data_vencimento.strftime("%d/%m/%Y") unless @lancamento.new_record?}" %>
												</div>
												
											  </div>
											  
											  <div class="form-row">
												<div class="form-group col-md-9">
												  <label for="inputCity">Descrição</label>
												  <%= form.text_field :descricao, autofocus: true, autocomplete: "nome", class: "form-control", required: true %>
												</div>
												<div class="form-group col-md-3">
												  <label for="inputState">Valor</label>
												  <%= form.text_field :valor, autofocus: true, autocomplete: "nome", class: "form-control", required: true, :onfocusout => 'formata_decimal(this,2, event)' %>
												</div>
											  </div>
											  
											  <div class="form-row">
												<div class="form-group col-md-6">
												   <label>Categoria</label>
												   <%= form.select :categoria_id, Categorium.where(:ativo => Constantes::ATIVO).each.map {|l| [l.nome, l.id]}, {:include_blank => 'Selecione'}, {:class => 'form-control'} %>
                  
												</div>
												<div class="form-group col-md-6">
												  <label for="inputState">Apartamento</label>
												  <%= form.select :pessoa_id, Pessoa.where(:ativo => Constantes::ATIVO).order("id asc").each.map {|l| [( l.id == 1 ? l.nome : l.numero+" - "+l.nome), l.id]}, {:include_blank => 'Selecione'}, {:class => 'form-control'} %>
												  <%= form.select :pessoa_id, Pessoa.where(:ativo => Constantes::ATIVO).order("id asc").each.map {|l| [( l.id == 1 ? l.nome : l.numero+" - "+l.nome), l.id]}, :prompt => "Selecione", :multiple => true,{:class => 'form-control'} %>	
												  <!--<%= form.check_box :condominio %> Condomínio -->
												</div>
												
											  </div>
											  
											  <div class="form-row">
												<div class="form-group col-md-12">
												  <label for="inputState">Observação</label>
												  <%= form.text_area :observacao, autofocus: true, autocomplete: "nome", class: "form-control" %>
												</div>
											  </div>
											  
											  <div class="form-row">
												<div class="form-group col-md-12">
												    <%= form.file_field :attachment %>
												</div>
												
												<div class="col-md-12 col-lg-12 campoImagem">
												  <label class="d-flex justify-content-center mb-3">Anexo</label>
												  <div class="col-md-12 col-lg-12">
													<div class="row d-flex justify-content-center align-items-center">
													  <label id="target" for="customFile">
													  	<% if !lancamento.attachment.url.nil? %>
													  		<%= image_tag lancamento.attachment.url %>
													  	<% end %>
													  </label>	
													</div>
												  </div>
												</div>
												
											  </div>											  
											  
											  
											  <%= link_to 'Cancelar', lancamentos_path, class: "btn btn-danger btn-sm", style: "color: white" %>
									    	  <%= form.submit @lancamento.new_record? ? 'Cadastrar' : 'Editar ' , class:"btn btn-success btn-sm m-b-30 m-t-30", style: "color: white" %>											
                                              
                                        <% end %>
                                    </div>
                                </div>

                            </div>
                        </div> <!-- .card -->
                    </div>


                </div>
            <!--/div--><!-- .animated -->
        </div><!-- .content -->