
<div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Lançamentos</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
							<li>Gerencial</li>
                            <li>Cadastros</li>
                            <li class="active">Lançamentos</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">
		
		
				<% flash.each do |key, value| %>
					  <div class="alert  alert-success alert-dismissible fade show" role="alert">
						<span class="badge badge-pill badge-success">Successo</span> <%= value %>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					  </div>
				<% end %>

				
            <!--div class="animated fadeIn"-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
						    <% if current_user.isAdmin? %>
								<div class="card-header">
										<%= link_to new_lancamento_path, class: "btn btn-success btn-sm", style: "color: white" do %>
											<i class="fa fa-plus"></i> Cadastrar
										<% end %>
								</div>
							<% end %>
                            <div class="card-body">
                                <div class="table-responsive-sm">
								  <table class="table">
									<thead>
									  <tr>
										<th scope="col">Descrição</th>
										<th scope="col">Pagamento</th>
										<th scope="col">Vencimento</th>										
										<th scope="col">Tipo</th>
										<th scope="col">Categoria</th>
										<th scope="col">Pessoa</th>
										<th scope="col">Valor</th>
										<th scope="col"></th>
										<th scope="col"></th>
									  </tr>
									</thead>
									<tbody>
									  <% @lancamentos.each do |lancamento| %>
										  <tr>
											<td><%= lancamento.descricao %></td>
											<td><%= lancamento.data_pagamento.nil? ? "A PAGAR" : lancamento.data_pagamento.strftime("%d/%m/%Y") %></td>
											<td><%= lancamento.data_vencimento.strftime("%d/%m/%Y") %></td>
											<td><%= Lancamento::TIPO_LANCAMENTO.invert[lancamento.tipo] %></td>
											<td><%= lancamento.categoria.nome %></td>
											<td><%= lancamento.pessoa.nome %></td>
												<% if lancamento.tipo == Lancamento::TIPO_LANCAMENTO_RECEITA %>
													<td style='color:green'><%= number_to_currency(lancamento.valor, :unit => "R$ ", :separator => ",", :delimiter => ".") %></td>
												<% else %>
													<td style='color:red'><%= number_to_currency(lancamento.valor, :unit => "R$ ", :separator => ",", :delimiter => ".") %></td>
												<% end %>
												
											<td>
											<%= link_to edit_lancamento_path(lancamento), class: "btn btn-primary btn-sm", style: "color: white" do %>
												<i class="fa fa-edit"></i>&nbsp; Editar
											<% end %>
											</td>
												<td>
												<button type="button" class="btn btn-danger btn-sm mb-1" data-toggle="modal" data-target="#staticModal" data-id="<%= params[:controller] %>/<%= lancamento.id %>">
													<i class="fa fa-times"></i>&nbsp; Remover
												</button>
												</td>
											
											
										  </tr>
										<% end %>
									</tbody>
								  </table>
								</div>
								
								<%= will_paginate @lancamentos, previous_label: '&laquo;', next_label: '&raquo;', renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
                            </div>
                        </div>
                    </div>


                </div>
            <!--/div>--<!-- .animated -->
        </div><!-- .content -->
		