
<div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Lançamentos</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
							<li>Gerencial</li>
                            <li>Cadastros</li>
                            <li class="active">Lançamentos</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">
		
		
				<% flash.each do |key, value| %>
					  <div class="alert  alert-success alert-dismissible fade show" role="alert">
						<span class="badge badge-pill badge-success">Successo</span> <%= value %>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					  </div>
				<% end %>

				
            <!--div class="animated fadeIn"-->
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
									<%= link_to new_lancamento_path, class: "btn btn-success btn-sm", style: "color: white" do %>
										<i class="fa fa-plus"></i> Cadastrar
									<% end %>
                            </div>
							
                            <div class="card-body">
                                <div class="table-responsive-sm">
								  <table class="table">
									<thead>
									  <tr>
										<th scope="col">#</th>
										<th scope="col">Descrição</th>
										<th scope="col">Pagamento</th>
										<th scope="col">Vencimento</th>										
										<th scope="col">Tipo</th>
										<th scope="col">Categoria</th>
										<th scope="col">Pessoa</th>
										<th scope="col">Valor</th>
										<th scope="col"></th>
										<th scope="col"></th>
									  </tr>
									</thead>
									<tbody>
									  <% @lancamentos.each do |lancamento| %>
										  <tr>
											<th scope="row"><%= lancamento.id %></th>
											<td><%= lancamento.descricao %></td>
											<td><%= lancamento.data_pagamento.strftime("%d/%m/%Y") %></td>
											<td><%= lancamento.data_vencimento.strftime("%d/%m/%Y") %></td>
											<td><%= Lancamento::TIPO_LANCAMENTO.invert[lancamento.tipo] %></td>
											<td><%= lancamento.categoria.nome %></td>
											<td><%= lancamento.pessoa.nome %></td>
												<% if lancamento.tipo == Lancamento::TIPO_LANCAMENTO_RECEITA %>
													<td style='color:green'><%= number_to_currency(lancamento.valor, :unit => "R$ ", :separator => ",", :delimiter => ".") %></td>
												<% else %>
													<td style='color:red'><%= number_to_currency(lancamento.valor, :unit => "R$ ", :separator => ",", :delimiter => ".") %></td>
												<% end %>
												
											<td>
											<%= link_to edit_lancamento_path(lancamento), class: "btn btn-primary btn-sm", style: "color: white" do %>
												<i class="fa fa-edit"></i>&nbsp; Editar
											<% end %>
											</td>
											<td>
											<%= link_to lancamento, data: { toggle: 'modal', target: '#staticModal', id: lancamento.id}, class: "btn btn-danger btn-sm", style: "color: white" do %>
												<i class="fa fa-times"></i>&nbsp; Remover
											<% end %>
											</td>
											
										  </tr>
										<% end %>
									</tbody>
								  </table>
								</div>
								
								<%= will_paginate @lancamentos, previous_label: '&laquo;', next_label: '&raquo;', renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
                            </div>
                        </div>
                    </div>


                </div>
            <!--/div>--<!-- .animated -->
        </div><!-- .content -->
		
		<div class="modal fade" id="staticModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true" data-backdrop="static">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticModalLabel">Static Modal</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>
                                    This is a static modal, backdrop click will not close it.
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary">Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>