<div class="invoice-box">
       <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
          <tr class="top">
            <td colspan="6">
              <table>
                <tr>
                  <td class="title">
                    Jesus do Porto V
                  </td>

                  <td>
                    Data Inicio: <b><%= @data_inicio %></b>
                    <br>
                    Data Fim: <b><%= @data_fim %></b>
                    <br>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <tr class="information">
            <td colspan="4">
              <table>
                <tr>
                  <td>
                    <b>Condomínio Jesus do Porto V</b><br>
                    Rua Bel. Manoel Pereira diniz, 727, João Pessoa - PB.<br>
                    CEP: 58052-520<br>
                    <i class="fa fa-envelope"></i> condominiojesusdoportov@gmail.com <br>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <tr class="heading">
            <td>Item</td>
            <td>Pessoa</td>
            <td>Categoria</td>
            <td class="right"></td>
            <td class="right"></td>
            <td>Total</td>
          </tr>

          <% valor = 0%>
          
          <% @lancamentos.each do |lancamento| %>
              <tr class="item">
                              <td>
                                  <%= lancamento.descricao %><br>
                                  <small><%= lancamento.observacao %></small>
                              </td>
                                          <td><%= lancamento.pessoa.nome %></td>
                                    <td><%= lancamento.categoria.nome %></td>

                              <td class="right">
                                  <!--%= number_to_currency(lancamento.valor, :unit => "R$ ", :separator => ",", :delimiter => ".") %-->
                              </td>

                              <td class="right">
                                  
                              </td>

                              <td>
                                  <%= number_to_currency(lancamento.valor, :unit => "R$ ", :separator => ",", :delimiter => ".") %>
                              </td>
                              <% valor += lancamento.valor %>
                </tr>
          <% end %>
          
          <tr>
            <td colspan="4"></td>
          </tr>        

          <tr class="heading">
            <td colspan="4"></td>
            <td><b>TOTAL:</b></td>
            <td>
               <b><%= number_to_currency(valor, :unit => "R$ ", :separator => ",", :delimiter => ".")  %></b>
            </td>
          </tr>
        </table>
    </div>