<div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Condôminos</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
							<li>Gerencial</li>
                            <li>Cadastros</li>
                            <li>Condôminos</li>
							<li class="active">Cadastrar</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">
            <!--div class="animated fadeIn"-->
                <div class="row">
				
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title"><%= @pessoa.new_record? ? 'Novo Condômino' : 'Editar Condômino' %></strong>
                            </div>
                            <div class="card-body">
                                <!-- Credit Card -->
                                <div id="pay-invoice">
                                    <div class="card-body">
										<%= form_with(model: pessoa, local: true) do |form| %>
										
											  <div class="form-row">
											    <div class="form-group col-md-6">
												  <label for="inputEmail4">Nome</label>
												  <%= form.text_field :nome, autofocus: true, autocomplete: "nome", class: "form-control", required: true %>
												</div>
                                                <div class="form-group col-md-6">
												  <label for="inputEmail4">Nome Completo</label>
												  <%= form.text_field :nome_completo, autofocus: true, autocomplete: "nome", class: "form-control", required: true %>
												</div>
												<div class="form-group col-md-3">
												  <label for="inputPassword4">Apartamento</label>
												  <%= form.text_field :numero, autofocus: true, autocomplete: "nome", class: "form-control", required: true %>
												</div>
											  </div>
											  
											  <%= link_to 'Cancelar', pessoas_path, class: "btn btn-danger btn-sm", style: "color: white" %>
									    	  <%= form.submit @pessoa.new_record? ? 'Cadastrar' : 'Editar ' , class:"btn btn-success btn-sm m-b-30 m-t-30", style: "color: white" %>											
                                              
                                        <% end %>
                                    </div>
                                </div>

                            </div>
                        </div> <!-- .card -->
                    </div>


                </div>
            <!--/div--><!-- .animated -->
        </div><!-- .content -->