<div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Vencimentos</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
							<li>Financeiro</li>
                            <li class="active">Vencimentos</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">
		
				<% flash.each do |key, value| %>
					  <div class="alert  alert-success alert-dismissible fade show" role="alert">
						<span class="badge badge-pill badge-success">Successo</span> <%= value %>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					  </div>
				<% end %>
				
				<div class="row">
					<div class="col-md-12">
	                        <div class="card">
	                            <div class="card-header">
	                                <strong class="card-title mb-3">Filtro</strong>
	                            </div>
	                            <div class="card-body">
									<%= form_for(:vencimento, :url => vencimentos_path, :html => {:class => :form, :method => :get}) do |form| -%>
									
											<div class="form-row">
												<div class="form-group col-md-2">
												   <label>Mês/Ano</label>
												   <%= form.select :mes, @meses.each.map {|l| [l.data.strftime("%m/%Y"), l.data]}, {:include_blank => 'Selecione'}, {:class => 'form-control'} %>
                  
												</div>
																	
												<% if current_user.isAdmin? %>								
													<div class="form-group col-md-4">
															  <label for="inputState">Apartamento</label>
															  <%= form.select :pessoa_id, @pessoas.each.map {|l| [( l.id == 1 ? l.nome : l.numero+" - "+l.nome), l.id]}, {:include_blank => 'Selecione'}, {:class => 'form-control'} %>
															  
													</div>	
												<% end %>	
											</div>
											
											<%= form.submit 'Pesquisar', class:"btn btn-primary btn-sm m-b-30 m-t-30", style: "color: white" %>											
																				
									<% end %>     
	                            </div>
												
                                              
	                        </div>
	                    </div>
				</div>

				
            <!--div class="animated fadeIn"-->
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                           
                            <div class="card-body">
                                <div class="table-responsive-sm">
																	<table class="table">
																	<thead>
																		<tr>
																		<% if current_user.isAdmin? %>
																			<th scope="col">Pessoa</th>
																			<th scope="col">Apt.</th>
																		<% end %>
																		<th scope="col">Mês/Ano</th>
																		<th scope="col">Vencimento</th>
																		<th scope="col">Valor</th>
																		<th scope="col">Status</th>
																		</tr>
																	</thead>
																		<tbody>
																			<% @vencimentos.each do |vencimento| %>
																				<tr>
																					<% if current_user.isAdmin? %>
																						<td><%= vencimento.pessoa.nome %></td>
																						<td><%= vencimento.pessoa.numero %></td>
																					<% end %>
																					<td><%= vencimento.data.strftime("%m/%Y") %></td>
																					<td><%= vencimento.data_vencimento.strftime("%d/%m/%Y") %></td>
																					<td><%= number_to_currency(vencimento.valor, :unit => "R$ ", :separator => ",", :delimiter => ".") %></td>
																					<td>
																						<% if vencimento.status == Vencimento::ABERTO %>
																						<% if current_user.isAdmin? %>
																							<button type="button" class="badge badge-pill badge-warning" data-toggle="modal" data-target="#smallmodal" data-id="<%= params[:controller] %>/<%= vencimento.id %>">
																								<%= Vencimento::STATUS.invert[vencimento.status] %>
																							</button>
																						<% else %>
																								<span class="badge badge-pill badge-warning"><%= Vencimento::STATUS.invert[vencimento.status] %></span>
																						<% end %>

																						<% elsif vencimento.status == Vencimento::PAGO %>
																							<%= link_to vencimento_path(vencimento), class: "badge badge-pill badge-success", style: "color: white" do %>
																								 <%= Vencimento::STATUS.invert[vencimento.status] %>&nbsp; &nbsp; <i class="fa fa-file"></i>
																							<% end %>
																						<% elsif vencimento.status == Vencimento::VENCIDO %>
																							<% if current_user.isAdmin? %>
																								<button type="button" class="badge badge-pill badge-danger" data-toggle="modal" data-target="#smallmodal" data-id="<%= params[:controller] %>/<%= vencimento.id %>">
																									<%= Vencimento::STATUS.invert[vencimento.status] %>
																								</button>
																							<% else %>
																									<span class="badge badge-pill badge-danger"><%= Vencimento::STATUS.invert[vencimento.status] %></span>
																							<% end %>
																							
																						<% end %>
																					
																							
																					</td>																			
																				</tr>
																			<% end %>
																		</tbody>
																	</table>
								</div>
								
								<%= will_paginate @vencimentos , previous_label: '&laquo;', next_label: '&raquo;', renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
                            </div>
                        </div>
                    </div>


                </div>
            <!--/div--><!-- .animated -->
        </div><!-- .content -->