<!DOCTYPE html>
<html>
  <head>
    <title>Gabriel Trajano - Psicólogo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= stylesheet_link_tag    'style', media: 'all' %>
	
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'ui.datepicker-pt-BR'%>
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Sufee Admin - HTML5 Admin Template">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'> 
	
  </head>

  <body>
		
  
		<% if user_signed_in? %>
		<%= render "shared/navigation_left" %>
		<div id="right-panel" class="right-panel">		
			<%= render "shared/navigation_header" %>
		<% end %> 
		<%= render "shared/footer" %> 
		<%= yield %>
		</div>

  </body>
  
  
				<div class="modal fade" id="staticModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true" data-backdrop="static">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticModalLabel">Alerta</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <label for="inputPassword4">Data</label>
												  <%= text_field :data, :sessao, :value => "#{Time.now.strftime("%d/%m/%Y")}"  %>
											
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                <button id="modal_remover" type="button" class="btn btn-danger" data-dismiss="modal">Alterar Status</button>
                            </div>
                        </div>
                    </div>
                </div>
				
				 <div class="modal fade" id="smallmodal" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="smallmodalLabel">Nova Sessão</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                         
												  <label for="inputPassword4">Data</label>
												  <%= text_field :sessao, :data, :value => "#{Time.now.strftime("%d/%m/%Y")}"  %>
												
                              

								
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                <button id="modal_criar_sessao" class="btn btn-primary" data-dismiss="modal">Criar</button>
                            </div>
                        </div>
                    </div>
                </div>

                
				
</html>

<script>

    $( document ).ready(function() {
        $('#sessao_data').datepicker();

    });

	var id;

	$('#staticModal').on('show.bs.modal', function (e) {
		id = $(e.relatedTarget).attr('data-id');
	});
	
	$('#smallmodal').on('show.bs.modal', function (e) {
		id = $(e.relatedTarget).attr('data-id');
	});
	
	$('#modal_remover').click(function(e) {
		$.ajax({
			type: "DELETE",
			url: id
		})
	});
	
	
	$('#modal_criar_sessao').click(function(e) {
		$.ajax({
			type: "POST",
			data: { sessao_data: $('#sessao_data').val(),
                    cliente: '<%= @cliente.id if !@cliente.nil? %>'}
			
			
		})
	});
	
</script>